* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #68A2E5;
}

header{
    background-color: rgb(250, 246, 0);
    -webkit-box-shadow: 1px 6px 34px 16px #000000; 
    box-shadow: 1px 6px 34px 16px #000000;
}

.container{
    /* background-color: rgb(150, 64, 64); */
    margin: auto;
    display: inline-flex;

}

.img {
    padding-top: 5px;
    width: 100px;
    height: 100px;
}

.menu {
    /* background-color: rgb(184, 155, 155); */
    display: flex;
    align-items: center;
    padding-left: 15%;
    font-size: 20px;
}

.menu-icon {
    /* background-color: #0042a5; */
    display: inline-flex;
    padding-left: 30%;
    margin-top: 41px;
}

.menu-icon i {
    padding: 10px;
}

nav ul, nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: #6694da;
}

nav .active, nav a:hover{
    text-decoration: none;
    color: #0042a5;
}


#divBusca{
    margin-left: 50px;
    padding-top: 15px;
    background-color:#ffffff73;
    display: inline-flex;
    border-radius: 15px;
    width: 300px;
}

#txtBusca{
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}

div .card {
    margin: 100px;
    display: inline-block;
}